/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* Define color variables */
:root {
  --color-background: #1f1c2c;
  --color-gradient-start: #928dab;
  --color-gradient-end: #1f1c2c;
  --color-text: #1f1c2c;
  --color-link: #928dab;
  --color-notice: green;
  --color-product-card-bg: #1f1c2c;
  --color-product-card-header: #928dab;
  --color-product-card-text: hsla(250, 15%, 61%, 0.7);
}

body {
  background: var(--color-background); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--color-gradient-start),
    var(--color-gradient-end)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--color-gradient-start),
    var(--color-gradient-end)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-text);
}

nav {
  justify-content: flex-end;
  display: flex;
  font-size: 0.875em;
  gap: 0.5rem;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
  color: var(--color-text);
}

a,
button {
  color: var(--color-link);
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

nav a {
  display: inline-block;
}

main {
  max-width: 1024px;
  margin: 0 auto;
}

.notice {
  color: var(--color-notice);
}

section {
  margin: 2rem 0;
}

section.product {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

section.product img {
  border-radius: 8px;
  flex-basis: 50%;
  max-width: 50%;
}

section#products {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

a.product-card {
  background-color: var(--color-product-card-bg);
  border-radius: 8px;
  padding: 1rem;
  flex-basis: 20%;
  color: var(--color-product-card-header);
}

a.product-new {
  background-color: var(--color-product-card-bg);
  border-radius: 8px;
  padding: 0.5rem 4rem;
  text-align: center;
}

.product-card header p {
  margin-top: 0;
}

.product-card h2 {
  margin-bottom: 0.5rem;
}

.product-card p {
  font-size: 0.875em;
}

section.product-card--body {
  font-size: 0.875em;
  color: var(--color-product-card-text);
}
